button {
  transition: all 0.3s;
}
button:hover {
  background-color: #bbb;
}
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: all 0.3s;
  user-select: none;
}
ul li:hover {
  background: rgb(205, 204, 204);
}
ul li:hover span {
  display: inline-block;
}
.done {
  background-color: #888;
  color: #fff;
  text-decoration: line-through;
}
.done:hover {
  background-color: #888;
}
li.done::before {
  content: "\002713";
  position: absolute;
  left: 15px;
}
